<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/../assets/css/header.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="http://localhost:2020">Essay Grader</a>
        <div class="profile-container">
            <img src="https://www.colorhexa.com/333333.png" class="profile-picture">
        </div>
    </div>
    <script>
    </script>
</body>
</html>