:root {
  font-size: 1rem;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.0625rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.topnav a {
  background-color: #4285f4;
  color: white;
  padding-bottom: 1rem;
}

.topnav a:hover {
  background-color: #6a9df0;
  color: white;
}

.profile-container {
  position: relative;
  float: right;
}

.profile-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.125rem;
}