.fa {
  cursor: pointer;
  float: right !important;
  background-color: #ff0000 !important;
  font-size: 1.25rem !important;
}

.fa:hover {
  background-color: #ff3e3e !important;
}

.info {
  text-align-last: center !important;
}