<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/assets/css/login.css" rel="stylesheet" type="text/css" />
    <title>Essay Grader Login</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <div class="login-page">
        <div class="login-form">
            <div class="inputs">
                <button type="text" class="teacher" id="to_portal" onclick="handleTeacherClick()">I Am A Teacher</button>
                <pre></pre>
                <button type="text" class="login" id="login_button" onclick="handleStudentClick()">Login</button>
            </div>
        </div>
    </div>
    <script>
        const API_KEY = '<%= API_KEY %>';
        const CLIENT_ID = '<%= CLIENT_ID %>';
        const CLIENT_SECRET = '<%= CLIENT_SECRET %>';
    </script>
    <script async defer src="/assets/js/login.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="https://apis.google.com/js/client.js"></script>
</body>
</html>