
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/assets/student.css" rel="stylesheet" type="text/css" />
    <title>Essay Editor</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <div class="back_centered">
        <div class="text_container">
            <form class="submission" method="post" action="/student">
                <div class="sidebar">
                    <div class="submit_button">
                        <button type="button" onclick="submitClicked()">Submit</button>
                    </div>
                </div>
                <div class="front">
                    <textarea class="scroll" type="text"></textarea>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submitClicked() {
            console.log("Sumbit button clicked");
            let essay = document.querySelector('.scroll').value;
            let url = window.location.href;
            let name = url.split('name=')[1];
            if(essay.trim() == "" || name.trime() == "")
                return;
            document.querySelector('.submission').submit();
        }
    </script>
</body>
</html>