
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/assets/student.css" rel="stylesheet" type="text/css" />
    <title>Essay Editor</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <div class="back_centered">
        <div class="text_container">
            <form class="submission" method="post" action="/student">
                <div class="sidebar">
                    <input type="text" name="name" class="name" style="display: none;"></input>
                    <div class="submit_button">
                        <button tpye="submit">Submit</button>
                    </div>
                </div>
                <div class="front">
                    <textarea name="content" class="scroll" type="text"></textarea>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submitClicked() {
            let essay = document.querySelector('.scroll').value;
            let name = document.querySelector('.name').value;
            if(essay.trim() == "" || name.trim() == "")
                return;
            document.querySelector('.submission').submit();
        }
        window.onload = function placeName() {
            let url = window.location.href;
            let name = url.split('name=')[1];
            name = name.replaceAll('%22', '');
            document.querySelector('.name').value = name;
        }
    </script>
</body>
</html>