@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topbar {
    background-color: #333;
    position: absolute;
}
.topbar h2 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
    letter-spacing: 1px;
}
.topbar h2.label {
    background-color: #04AA6D;
    color: white;
}