@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.back_centered {
    width: 750px;
    height: 615px;
    padding: 8% 0 0;
    border-radius: 25px;
    margin: auto;
    position: relative;
    top: -50px;
    justify-self: center;
}
.text_container {
    height: 615px;
    width: 750px;
    border-radius: 25px;
    background-color: #333;
}
.front {
    background-color: #333;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 575px;
    height: 615px;
    border-radius: 25px;
    float: left;
    top: auto;
    margin: 0px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.scroll {
    margin: 5px;
    height: 600px;
    width: 560px;
    border-radius: 15px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll:focus {
    outline: 0;
}
.sidebar {
    background-color: #2d7ed4;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 175px;
    height: 615px;
    border-radius: 25px;
    float: left;
    top: auto;
    position: relative;
}
.sidebar button {
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    outline: none;
    transition-duration: 0.8s;
    background-position: center;
}
.submit_button {
    padding: 10px;
}
.sidebar button:hover {
    background: #6f767b radial-gradient(circle, transparent 1%, #6f767b 1%) center/15000%;
    color: white;
}
.sidebar button:active {
    background-color: #373c40;
    background-size: 100%;
    transition: 0s;
}
body {
    background: linear-gradient(90deg,#c850c0,#4158d0);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}